h6 { margin: 0; padding: 10px 0; }
a { color: var(--bs-gray-900); text-decoration: none; }
.list-group-item-alone { cursor: pointer; }
a:hover { color: var(--bs-blue);}
.is-visible { visibility: hidden; height: 0px; transition: height .3s ease-in-out; }
.list-group-special-item { font-size: 1.5rem; margin-right: 10px; }
a.active, a.active h6 { color: var(--bs-blue); font-weight: 800; }
div:has(> a.active):not(.list-group-item) { background-color: var(--bs-gray-100); color: var(--bs-gray-700); border-radius: 8px }
.card { box-shadow: 0 0 16px -8px var(--bs-gray-600); }