@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
  background: linear-gradient(to right, #e3e3e3 15%, white 0);
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1800px) {
  html, body {
    background: linear-gradient(to right, #e3e3e3 15%, white 0);
    transition: all .3s ease-in-out;
  }
}

h1,h2,h3,h4,h5 {
  margin-bottom: 1rem;
}

h2,h3 {
  margin-top: 2.5rem;
  font-weight: 800;
  position: relative;
}

h6 { margin: 0; padding:0 }

.btn-purple {
  background-color: rgb(219, 221, 247);
  border-radius: 0;
}
.btn-purple:hover {
  background-color: white;
}
a.anchor-url {
  align-items: center;
  display: flex;
  height: 100%;
  left: -1.5rem;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* blockquote {
  display: flex;
  align-items: center;
}
blockquote > p {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 5px;
  margin: 0;
  width: 100%;
}
blockquote::before { 
  content: "";
  display: inline-flex;
  background: rgb(55, 55, 230);
  border-radius: 8px;
  margin: 0 10px;
  width: 4px;
  height: 20px;
} */
blockquote {
  border-left: 5px solid rgb(22, 33, 227);
  margin: 0;
}
blockquote > p {
  padding: 0.5em 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(219, 221, 247);
}
.inline-block {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}